@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  /* color: inherit; */
}

body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  background-color: #eee;
}

.galada {
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
}

.splash {
  height: 100vh;
}

.splash-btn {
  width: 30%;
}

.splash-btn a {
  width: 100%;
}

.navbar {
  background: linear-gradient(
    90deg,
    rgba(55, 120, 194, 1) 100%,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 5%
  );
  color: #fff;
}
.user-initial {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #eee solid;
  /* padding: 5px; */
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.form-section {
  margin: 20px auto;
  /* width: 50%; */
}

.form {
  width: 100%;
  padding-inline: 10px;
}

.form .btn {
  width: 200px;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.forgot a {
  text-decoration: none;
  color: grey;
}

.category-img {
  width: 70px;
  height: 70px;
}

.category-details {
  background-color: #fff;
  padding: 10px;
}

.category-card a {
  text-decoration: none;
  color: inherit;
}

.img-container {
  display: flex;
}

.time {
  font-size: 11px;
}

.icon-img {
  flex: 0.2;
}

.category-text {
  flex: 0.8;
}
