@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.bi {
  font-size: 30px;
}

body {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  background-color: #eee;
}

.galada {
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
}

.splash {
  height: 100vh;
}

.splash-btn {
  width: 30%;
  white-space: nowrap;
}

.splash-btn a {
  width: 100%;
}

.navbar {
  background:
    linear-gradient(
      90deg,
      rgba(55, 120, 194, 1) 100%,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 212, 255, 1) 5%
    );
  color: #fff;
}

.user-initial {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #eee solid;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.form-section {
  margin: 20px auto;
}

.form {
  width: 100%;
  padding-inline: 10px;
}

.form .btn {
  width: 200px;
}

.form .btn-warning {
  width: fit-content;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.forgot a {
  text-decoration: none;
  color: grey;
}

.category-img {
  width: 70px;
  height: 70px;
}

.category-details {
  background-color: #fff;
  padding: 10px;
}

.category-card a {
  text-decoration: none;
  color: inherit;
}

.img-container {
  display: flex;
}

.time {
  font-size: 11px;
}

.icon-img {
  flex: 0.2;
}

.category-text {
  flex: 0.8;
}

.btn-primary {
  background-color: #3778c2;
}

.btn-success {
  background-color: #5fb523;
  border: none;
}

.btn-success:hover {
  background-color: #87c75c;
}

.cat-command {
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  font-weight: bolder;
  width: 50px;
  text-align: center;
}

#edit {
  background-color: #4188d9;
}

#edit:hover {
  background-color: #3778c2;
}

#delete {
  background-color: red;
}

#delete:hover {
  background-color: rgb(227, 7, 7);
}

.dropdown {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  width: 20%;
}

.new {
  width: 100%;
  align-self: flex-end;
  justify-self: flex-end;
}
