<nav class="navbar shadow p-3">
  <div class="hamburger">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="title">
    <% if request.path == new_user_registration_path %>
      <h3 class="nav-header">REGISTER</h3>
    <% elsif request.path == new_user_session_path %>
      <h3 class="nav-header">LOG IN</h3>
    <% elsif request.path == categories_path %>
      <h3 class="nav-header">CATEGORIES</h3>
    <% elsif request.path == new_category_path %>
      <h3 class="nav-header">CATEGORY</h3>
    <% elsif request.path.to_s.include?("edit") && request.path.to_s.include?("categories") %>
      <h3 class="nav-header">EDIT CATEGORY</h3>
    <% else %>
      <h3 class="nav-header">HOME</h3>
    <% end %>
  </div>

  <div class="user d-flex align-items-center gap-3">
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: 'delete', :class => 'btn btn-danger' %>
    <% else %>
      <%= link_to "Login", new_user_session_path, :class => 'btn btn-success' %>
    <% end %>
    <% if user_signed_in? %>
      <span class="user-initial"><%= current_user.name.split.map(&:first).join.upcase %></span>
    <% end %>
  </div>
</nav>